
#icon {
  width: 80px;
  height: 80px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#gmail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 105px;
  right: 10px;
}

#messenger {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 97px;
  right: 67px;
}

#calendar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 57px;
  right: 110px;
}

#drive {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 110px;
}

#butt {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#api {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 140px;
  right: 60px;
    visibility: hidden;


}
thead, tbody { display: block;
   }


tbody {
    height: 170px; 
    width:290px;/* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
#calendarBox {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 40px;
  right: 160px;
    visibility: hidden;
}

.container{
  width: 350px;
  height: 250px;
  border: 1px solid;
}


.title {
  margin: 0px -15px 0px -15px;
  font-size: 20px;
  color: white;
  background-color: #ff0000;
}

.title.two{
    background-color: cornflowerblue;
}

#window{
  width: 20px;
  height: 20px;
  position: absolute;
  right: -40px;
  top: 5px;
}

#expand {
  width: 15px;
  height: 15px;
  position: absolute;
  right: -20px;
  top: 7px;
}

.fa-pencil{
    font-size:15px;
}
.fa:active{
 color: red;
}

.fa-envelope{
    color: red;
}
.h6{
    align-content: center;
    align-items: center;
    text-align: center;
}

.hiddenRow {
    padding: 0 !important;
}
