
#icon {
  width: 80px;
  height: 80px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#gmail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 105px;
  right: 10px;
}

#messenger {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 97px;
  right: 67px;
}

#calendar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 57px;
  right: 110px;
}

#drive {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 110px;
}

#butt {
  position: absolute;
  bottom: 0px;
  left: 0px;
}


.fa-pencil{
    font-size:15px;
}

.fa-envelope{
    color: red;
}
.h6{
    align-content: center;
    align-items: center;
    text-align: center;
}
