#icon {
	width: 30px;
	height: 30px;
	position: fixed;
	bottom: 25px;
	right: 15px;
	z-index: 3;
}

#circle{
	position: fixed;
	bottom: 21px;
	right: 10px;
	z-index: 2;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: gray;
}

#gmail {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: fixed;
  z-index: 2;
  bottom: 75px;
  right: 5px;
}

#messenger {
width: 35px;
height: 35px;
border-radius: 50%;
position: fixed;
z-index: 2;
bottom: 65px;
right: 40px;
}

#calendar {
width: 30px;
height: 30px;
border-radius: 50%;
position: fixed;
z-index: 2;
bottom: 36px;
right: 60px;
}

#drive {
width: 30px;
height: 30px;
border-radius: 50%;
position: fixed;
z-index: 2;
bottom: 0px;
right: 65px;
}